*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Total{
    margin: 100px auto;
    width: 300px;
    height: 100px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    width: 24px;
    height: 24px;
    border-radius: 5px;
    border: none;
    
}
.minus , .plus , .minus1 , .plus1{
    background-color: rgb(190, 177, 177);
    cursor: pointer;
}
.minus , .plus , .minus ,.minus1 , .plus1 , .minus1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.number1 , .number2{
   padding-left: 7px;
}

input[type=number] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
 .Total div {
    width: 24px;
    height: 24px;
} 
